MYSQL_ROOT_PASSWORD='rootpassword'
MYSQL_DATABASE='smartlocker'
MYSQL_USER='smartlocker_user'
MYSQL_PASSWORD='Locker123!'
MYSQL_HOST_PORT='3307'

SMARTLOCKER_DATABASE_DIALECT='mysql+pymysql'
SMARTLOCKER_LOCKER_COUNT='8'

SMARTLOCKER_APP_HOST='0.0.0.0'
SMARTLOCKER_APP_PORT='8000'
SMARTLOCKER_APP_HOST_PORT='8000'
SMARTLOCKER_BASE_URL='http://localhost:8000'

SMARTLOCKER_HARDWARE_ENABLED='false'
SMARTLOCKER_HARDWARE_REQUIRED='false'
SMARTLOCKER_MQTT_HOST='mqtt'
SMARTLOCKER_MQTT_PORT='1883'
SMARTLOCKER_MQTT_TOPIC_PREFIX='smartlocker'
SMARTLOCKER_MQTT_CLIENT_ID='smartlocker-app'
SMARTLOCKER_MQTT_USERNAME=''
SMARTLOCKER_MQTT_PASSWORD=''
SMARTLOCKER_MQTT_QOS='1'
SMARTLOCKER_MQTT_USE_TLS='false'
SMARTLOCKER_MQTT_CONNECT_TIMEOUT='5.0'
SMARTLOCKER_MQTT_COMMAND_TIMEOUT='5.0'
SMARTLOCKER_DOOR_CLOSE_TIMEOUT='120.0'
SMARTLOCKER_GATEWAY_MQTT_CLIENT_ID='smartlocker-pi-gateway'
SMARTLOCKER_UART_PORT='/dev/serial0'
SMARTLOCKER_UART_BAUDRATE='9600'
SMARTLOCKER_UART_TIMEOUT='0.2'
SMARTLOCKER_UART_COMMAND_TIMEOUT='3.0'

SMARTLOCKER_MONITOR_HOST='0.0.0.0'
SMARTLOCKER_MONITOR_PORT='8001'
SMARTLOCKER_MONITOR_HOST_PORT='8001'
SMARTLOCKER_MONITOR_URL='http://localhost:8001'
SMARTLOCKER_USER_PORTAL_URL='https://app.smartlockerhcmute.dpdns.org/dang-ky-email'
SMARTLOCKER_MONITOR_ADMIN_TOKEN='LockerAdmin2026!'
SMARTLOCKER_ADMIN_USERNAME='admin'
SMARTLOCKER_ADMIN_PASSWORD='admin123'

SMARTLOCKER_SMTP_HOST=''
SMARTLOCKER_SMTP_PORT='587'
SMARTLOCKER_SMTP_USERNAME=''
SMARTLOCKER_SMTP_PASSWORD=''
SMARTLOCKER_SMTP_FROM_EMAIL=''
SMARTLOCKER_SMTP_FROM_NAME='Smart Locker'
SMARTLOCKER_SMTP_USE_TLS='true'
SMARTLOCKER_SMTP_INCLUDE_QR='true'
SMARTLOCKER_SMTP_RETRY_ATTEMPTS='3'
SMARTLOCKER_SMTP_RETRY_DELAY_SECONDS='20'
